@import "./theme/green.css";

:root {
  --bg: 0, 0%;
  --fg: 0, 0%, 80%;
  --border-radius: 0.15rem;
}
html {
  font-size: 18px;
  margin: 0;
}
body {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  margin: 0;
  padding: 0.5rem 0 0.5rem;
  background: hsl(var(--bg), 18%);
  color: hsl(var(--fg));
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr minmax(10rem, 45rem) 1fr;
}

body > div {
  grid-column: 2;
}

body > div[v-cloak] > div {
  display: none;
}

.hidden {
  display: none;
}

#connection-status {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  height: 1rem;
  z-index: 1;
  display: grid;
  align-items: center;
  justify-items: center;
  background: hsl(var(--bg), 18%);
}
#connection-status > span {
  height: 0.2rem;
  width: 1rem;
  border-radius: 0.1rem;
  transition: background-color 0.5s ease-in-out;
  background: hsl(0, 50%, 50%);
}

#connection-status.online > span {
  background: hsl(90, 50%, 50%);
}

article,
form {
  display: grid;
}

article > section {
  border-radius: var(--border-radius);
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin: 0.5rem 1rem;
  background: hsl(var(--task), var(--l-base));
  box-shadow: 0 0 10px 2px rgba(15, 15, 15, 0.6);
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  word-break: break-all;
}
article > section.done {
  text-decoration: line-through;
  color: hsla(var(--fg), 0.6);
  opacity: 0.6;
}
article > section.fade {
  opacity: 0.2;
}
article > section > span {
  padding: 0.5rem 1rem;
}
article > section > button {
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0;
  align-self: stretch;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
article > section.fade > button {
  pointer-events: none;
}
article > section > button.move2top {
  background: transparent;
  padding: 0 1rem;
  box-shadow: 0 0 30px -8px #000a;
  background: hsla(var(--task), calc(var(--l-base) + 10%), 0);
  transition: background 0.2s ease-in-out;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}
article > section > button.move2top:hover,
article > section > button.move2top:active {
  background: hsla(var(--task), calc(var(--l-base) + 10%), 0.85);
}
article > section > button.toggle-done {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 4rem;
  height: auto;
  background: hsl(var(--task), calc(var(--l-base) + 10%));
  opacity: 0.2;
  transition: opacity 0.2s ease-in-out;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}
article > section > button.toggle-done:hover,
article > section > button.toggle-done:active {
  opacity: 0.85;
}

form {
  margin: 0.5rem 1rem;
  position: relative;
}
form > input {
  border: none;
  border-radius: var(--border-radius);
  padding: 0.75rem 1rem;
  color: hsl(var(--fg));
  background: hsla(var(--bg), 16%, 0.4);
  font-family: inherit;
  font-size: 1rem;
  box-shadow: 0 0 10px -2px rgba(15, 15, 15, 0.4) inset;
  margin: 0 -1px;
}
form > input:focus {
  outline: 1px solid hsla(var(--task), var(--l-base));
  border: 1px solid hsla(var(--task), var(--l-base));
}
